<div class="col-md-12">
  <div class="box">
    <%= form_tag sale_infos_admins_path, method: 'get' do %>
      <div class="box-body">
        <div class="form-group">
          <div class="col-xs-2">
            <%= label_tag '商品' %>
            <%= select_tag :goods_id, options_from_collection_for_select(Goods.all, 'id', 'name', params['goods_id']), include_blank: true, class: 'form-control select-goods' %>
          </div>
          <div class="col-xs-3">
            <label>自定义时间:</label>

            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field_tag :start_time, params[:start_time], class: 'form-control pull-right start-time', placeholder: '开始时间' %>
            </div>
          </div>
          <div class="col-xs-3">
            <label> </label>

            <div class="input-group make-line">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field_tag :end_time, params[:end_time], class: 'form-control pull-right start-time', placeholder: '结束时间' %>
            </div>
          </div>
          <div class="col-xs-2">
            <label ></label>
            <%= submit_tag '查询', class: 'btn btn-block btn-primary btn-flat make-line'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(".start-time").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
  $(".end-time").datetimepicker({format: 'yyyy-mm-dd hh:ii'});

    $(".select-goods").select2({
      placeholder: "选择业务",
      allowClear: true
    });
</script>
