<div class="col-md-12 controll-button">
  <%= render 'controll_button' %>
</div>

<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">业务信息</h3>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th>商品名</th>
          <th>级别1价格</th>
          <th>级别2价格</th>
          <th>价格3价格</th>
          <th>价格4价格</th>
          <td>管理</td>
        </tr>
        <% @goods.each do |goods| %>
          <tr>
            <td><%= goods.name %></td>
            <td><%= goods.get_current_price(1) %></td>
            <td><%= goods.get_current_price(2) %></td>
            <td><%= goods.get_current_price(3) %></td>
            <td><%= goods.get_current_price(4) %></td>
            <td>
              <a>修改</a>
              <a>设置特价</a>
              <a>特价信息</a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
