<div class="col-md-12 controll-button">
  <%= render 'controll_button' %>
</div>

<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">会员信息</h3>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>公告</th>
          <th>发布时间</th>
          <th>管理</th>
        </tr>
        <% @notices.each do |notice| %>
          <tr>
            <td><%= notice.id %></td>
            <td><%= notice.content %></td>
            <td><%= notice.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td>
              <%= link_to '编辑', edit_notice_path(notice.id),remote: true  %>
              <%= link_to '删除', notice_path(notice.id), method: 'DELETE',  data: { confirm: '确定删除？' } %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div id="add_edit_notice_modal"></div>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
    发布公告
  </button>
</div>

<div class="col-md-12">
  <hr>
  <div class="form-group">
    <% system_setting = SystemSetting.first %>
    <% if system_setting.can_sigin_up %>
      <input type="checkbox" id="toggle-sigin-up" checked data-toggle="toggle" data-on="可注册" data-off="不可注册" data-onstyle="success" data-offstyle="danger">
    <% else %>
      <input type="checkbox" id="toggle-sigin-up" data-toggle="toggle" data-on="可注册" data-off="不可注册" data-onstyle="success" data-offstyle="danger">
    <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <% if system_setting.can_recharge %>
      <input type="checkbox" id="toggle-recharge" checked data-toggle="toggle" data-on="可充值" data-off="不可充值" data-onstyle="success" data-offstyle="danger">
    <% else %>
      <input type="checkbox" id="toggle-recharge" data-toggle="toggle" data-on="可充值" data-off="不可充值" data-onstyle="success" data-offstyle="danger">
    <% end %>
  </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">发布公告</h4>
      </div>
      <%= form_for Notice.new, method: 'post', html: {:class => 'form-horizontal'} do |f| %>

        <div class="modal-body">
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                  <%= f.text_field :title, class: 'form-control', placeholder: '标题' %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">公告</label>
                <div class="col-sm-10">
                  <%= f.text_area :content, class: 'form-control', rows: 5, placeholder: '内容' %>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
          <%= f.submit '提交', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#toggle-sigin-up').change(function(){
    state = $(this).prop('checked');
    $.ajax({
      url: "<%= system_setting_path(1) %>",
      method: 'put',
      type: 'json',
      data: {
        change_info: { can_sigin_up: state }
      }
    })
  });

  $('#toggle-recharge').change(function(){
    state = $(this).prop('checked');
    $.ajax({
      url: "<%= system_setting_path(1) %>",
      method: 'put',
      type: 'json',
      data: {
        change_info: { can_recharge: state }
      }
    })
  });
</script>
