<div class="col-md-12 controll-button">
  <%= render 'controll_button' %>
</div>

<%= render partial: 'order_search_form' %>

<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <%= render 'order_controll_link' %>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 75px">订单编号</th>
            <th>下单用户</th>
            <th>下单日期</th>
            <th>业务</th>
            <th>数量</th>
            <th class="base-th">购买时单价</th>
            <th>状态</th>
            <th>下单账号</th>
            <th class="order-remark-th">备注信息</th>
            <th class="base-th">初始数量</th>
            <th class="base-th">目标数量</th>
            <th class="base-th">当前数量</th>
            <th>操作</th>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.identification_code %></td>
              <th><%= order.user.email %></th>
              <td><%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td><%= order.goods.name rescue '' %></td>
              <td><%= order.count %></td>
              <td class="base-td"><%= order.price_current %></td>
              <td><%= order.status_in_word_admin %></td>
              <td><%= order.account %></td>
              <td class="order-remark-th"><%= order.remark %></td>
              <td class="base-td"><%= order.start_num %></td>
              <td class="base-td"><%= order.aims_num %></td>
              <td class="base-td"><%= order.current_num %></td>
              <td>
                <%= render :partial => 'operation_link', :locals =>{ order_id: order.id, status: order.status } %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm inline">
          <%= paginate @orders %>
        </ul>
      </div>
    </div>
</div>

<style>
  .link_active{
    color: green;
  }
</style>
