<div class="col-md-12 controll-button">
  <%= render 'controll_button' %>
</div>

<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <%= render 'order_controll_link' %>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 75px">订单编号</th>
            <th>下单用户</th>
            <th>下单日期</th>
            <th>业务</th>
            <th>数量</th>
            <th>购买时单价</th>
            <th>状态</th>
            <td>备注</td>
            <th>初始数量</th>
            <th>目标数量</th>
            <th>当前数量</th>
            <th>操作</th>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.identification_code %></td>
              <th><%= order.user.email %></th>
              <td><%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td><%= order.goods.name rescue '' %></td>
              <td><%= order.count %></td>
              <td><%= order.price_current %></td>
              <td><%= order.status_in_word_admin %></td>
              <td>账号：密码：</td>
              <td><%= order.start_num %></td>
              <td><%= order.aims_num %></td>
              <td><%= order.current_num %></td>
              <td>
                <%= render :partial => 'operation_link', :locals =>{ order_id: order.id, status: order.status } %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>

<style>
  .link_active{
    color: green;
  }
</style>
