<div class="col-md-12 controll-button">
  <%= render 'controll_button' %>
</div>

<%= render 'sale_infos_search_form'%>

<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">商品销售情况</h3>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th style="width: 75px">商品</th>

          <th>总销量</th>
          <th>总提成</th>

          <th>本月销量</th>
          <th>本月提成</ht>

          <th>今日销量</th>
          <th>今日提成</th>

          <th>销量：<%= custom_query_time(params[:start_time], params[:end_time]) %></th>
          <th>提成：<%= custom_query_time(params[:start_time], params[:end_time]) %></th>
        </tr>
        <tr>
          <td><%= @goods %></td>

          <td><%= @total_spend %></td>
          <td><%= @total_deduct_percentage %></td>

          <td><%= @month_ago_spend %></td>
          <td><%= @month_ago_deduct_percentage %></td>

          <td><%= @today_spend  %></td>
          <td><%= @today_deduct_percentage %></td>

          <td><%= @custom_query_spend %></td>
          <td><%= @custom_query_deduct_percentage %></td>
        </tr>
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm inline">
        <%#= paginate @orders %>
      </ul>
    </div>
  </div>
</div>
