<div class="col-md-12 controll-button">
  <%= render 'controll_button' %>
</div>

<%= render 'user_search_form'%>

<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">会员信息</h3>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>邮箱</th>
          <th>账户余额</th>
          <th>等级</th>
          <th>下级会员数</th>
          <th>订单总数</th>
          <th>消费总额</th>
          <th>邀请码</th>
          <th>可登录</th>
          <th>可邀请下级</th>
          <th>管理</th>
        </tr>
        <% @users.each do |user| %>
          <% cache user do %>
            <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <th><%= user.balance %></th>
            <td><%= user.level_id %></td>
            <td><%= user.low_level_users.count %></td>
            <td><%= user.orders.count %></td>
            <td><%= user.total_spend %></td>
            <td><%= user.invitation_code_in_word %></td>
            <td>
              <% if user.active %>
                <input type="checkbox" class="can-login" user-id="<%= user.id %>" checked data-toggle="toggle" data-on="可登录" data-off='不可登录' data-style="ios" data-onstyle="success" data-offstyle="danger">
              <% else %>
                <input type="checkbox" class="can-login" user-id="<%= user.id %>" data-toggle="toggle" data-on="可登录" data-off='不可登录' data-style="ios" data-onstyle="success" data-offstyle="danger">
              <% end %>
            </td>
            <td>
              <% if user.level_id == 1 %>
                不可邀请会员
              <% elsif user.can_invite %>
                <input type="checkbox" class="can-invite" user-id="<%= user.id %>" checked data-toggle="toggle" data-on="可邀请下级" data-off='不可邀请下级' data-style="ios" data-onstyle="success" data-offstyle="danger">
              <% else %>
                <input type="checkbox" class="can-invite" user-id="<%= user.id %>" data-toggle="toggle" data-on="可邀请下级" data-off='不可邀请下级' data-style="ios" data-onstyle="success" data-offstyle="danger">
              <% end %>
            </td>
            <td>
              <%= link_to '特价', user_special_prices_special_prices_path(user_id: user.id) %>
              <%= link_to '编辑', edit_user_admins_path(user_id: user.id), remote: true  %>
              <%= link_to '密码重置', edit_user_password_admins_path(user_id: user.id), remote: true  %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm inline">
        <%= paginate @users %>
      </ul>
    </div>
  </div>
  <div id="add_edit_user_modal"></div>
  <div id="add_edit_user_password_modal"></div>
  <%= link_to '会员级别规则', levels_path %>
</div>

<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style>

<script>
  $('.can-login').change(function(){
    state = $(this).prop('checked');
    id = $(this).attr('user-id');

    $.ajax({
      url: "<%= can_log_in_or_invite_admins_path %>",
      method: 'post',
      type: 'json',
      data: {
        id: id,
        change_info: { active: state }
      }
    })
  });

  $('.can-invite').change(function(){
    state = $(this).prop('checked');
    id = $(this).attr('user-id');
    $.ajax({
      url: "<%= can_log_in_or_invite_admins_path %>",
      method: 'post',
      type: 'json',
      data: {
        id: id,
        change_info: { can_invite: state }
      }
    })
  });
</script>
