<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">下级：<%= @deduct_percentages.first.order.user.name rescue '' %></h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>订单编号</th>
            <th>商品</th>
            <th>购买数量</th>
            <th>下级单价</th>
            <th>本人单价</th>
            <th>提成</th>
          </tr>
          <% @deduct_percentages.each do |deduct_percentage| %>
            <tr>
              <% order = deduct_percentage.order %>
              <td><%= order.identification_code %></td>
              <td><%= order.goods.name %></td>
              <td><%= order.count %></td>
              <td><%= order.price_current %></td>
              <td><%= order.h_price_current %></td>
              <td><%= deduct_percentage.deduct_percentages %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm inline">
          <%#= paginate @deduct_percentage %>
        </ul>
      </div>
    </div>
</div>
