<div class="login-box">
  <div class="login-box-body">
    <p class="login-box-msg">请登录</p>
    <div>
      <% if flash[:alert] %>
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p class="flash-error"><%= flash[:alert] %></p>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p class="flash-notice"><%= flash[:notice] %></p>
        </div>
      <% end %>
   </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group">
        <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
        <a src="#">
          <%= rucaptcha_image_tag(alt: 'Captcha') %>
        </a>
      </div>
      <div class="row">
        <% if devise_mapping.rememberable? -%>
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <%= f.check_box :remember_me %> 记住我
              </label>
            </div>
          </div>
        <% end -%>
        <div class="col-xs-4">
          <%= f.submit "登录", class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>
    <% end %>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
    </div>
    <%= render "users/shared/links" %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%'
      });
    });

    //表单验证
    $("#new_user").validate({
      errorPlacement: function(error, element){
        $(element).parent('div').addClass('has-error');
        $(element).parent('div').append(error);
      },
  		errorElement: 'label',
      errorClass: 'error',
      rules: {
        'user[email]': 'required',
        'user[password]': 'required',
        '_rucaptcha': 'required'
      },
      messages: {
        'user[email]': '请输入邮箱',
        'user[password]': '请输入密码',
        '_rucaptcha': '请输入验证码'
      }
    });
  });
</script>
