<div class="col-md-12">
  <div class="box">
    <%= form_tag orders_path, method: 'get' do %>
      <div class="box-body">
        <div class="form-group">
          <div class="col-xs-2">
            <%= label_tag '订单状态' %>
            <%= select_tag :status, options_from_collection_for_select(Settings.order.status, 'to_s', 'to_chinese', params['status']), include_blank: true, class: 'form-control select-status' %>
          </div>
          <div class="col-xs-2">
            <%= label_tag '业务类型'%>
            <%= select_tag :goods_id, options_from_collection_for_select(Goods.all, 'id', 'name', params['goods_id']), include_blank: true, class: 'form-control select-goods' %>
          </div>
          <div class="col-xs-2">
            <label for="exampleInputEmail1">下单账号</label>
            <%= text_field_tag :account, params['account'], class: 'form-control', placeholder: '下单账号' %>
          </div>
          <div class="col-xs-2">
            <label for="exampleInputEmail1">备注信息</label>
            <%= text_field_tag :remark, params['remark'], class: 'form-control', placeholder: '备注信息'%>
          </div>
          <div class="col-xs-2">
            <label></label>
            <%= submit_tag '查询', class: 'btn btn-block btn-primary btn-flat make-line'%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $(".select-status").select2({
      placeholder: "订单状态",
      allowClear: true
    });
    $(".select-goods").select2({
      placeholder: "业务",
      allowClear: true
    });
</script>
