<%= render 'layouts/errors'%>

<% if Notice.first.content.present? %>
  <div class="col-md-12">
    <div class="callout callout-success">
      <h4>系统公告!</h4>
      <p><%= Notice.first.content %></p>
    </div>
  </div>
<% end %>

<%= render 'search_form' %>

<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">我的订单</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 75px">订单编号</th>
            <th>业务</th>
            <th>数量</th>
            <th>购买时单价</th>
            <th>总金额</th>
            <td>下单账号</td>
            <th>备注信息</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.identification_code %></td>
              <td><%= order.goods.name %></td>
              <td><%= order.count %></td>
              <td><%= order.price_current %></td>
              <td><%= order.total_price %></td>
              <td><%= order.account %></td>
              <td><%= order.remark %></td>
              <td><%= order.status_in_word %></td>
              <td>
                <% if order.is_not_pay? %>
                  <%= link_to '去支付', '#' %>
                  <%= link_to '取消订单', cancel_order_path(order.id),method: 'post', data: {confirm: '确认取消该比订单？'} %>
                  <%= link_to '修改订单', edit_order_path(order.id)%>
                <% end %>

                <% if order.is_canceled? %>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                    重新下单
                  </button>
                <% end %>
                <% if order.is_paied? %>
                  <%= link_to '修改订单', edit_order_path(order.id)%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm inline">
          <%= paginate @orders %>
        </ul>
      </div>
    </div>
</div>

<script>
$().ready(function() {
  //订单验证
  $("#new_order").validate({
    errorPlacement: function(error, element){
      $(element).parent('div').addClass('has-error');
      $(element).parent('div').append(error);
    },
		errorElement: 'label',
    errorClass: 'error',
    rules: {
      'order[goods_id]': "required",
      'order[price_current]': {
        required: true,
        number:true
      },
      'order[count]': {
        required: true,
        digits: true,
        min: 1
      },
      'order[account]': "required"
    },
    messages: {
      'order[goods_id]': "请选择业务",
      'order[price_current]': {
        required: '单价必须填写',
        number: '单价必须是数字'
      },
      'order[count]':{
        required: '数量不能为空',
        digits: '必须输入整数',
        min: '下单数量不能小于1'
      },
      'order[account]': "目标账户必须填写"
    }
  });
});
</script>
