<%= render 'search_form' %>

<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">我的订单</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th class="order-id-th">订单号</th>
            <th class="goods-th">业务</th>
            <th class="account-th">下单账号</th>
            <th class="count-th">数量</th>
            <th class="two-col-th">单价/总价</th>
            <th class="same-width">初始/目标/当前</th>
            <th class="order-time-th">下单时间</th>
            <th class="remark-th">备注</th>
            <th class="one-col-th">状态</th>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td class="order-id-td"><%= order.identification_code %></td>
              <td class="goods-td"><%= order.goods.name rescue ''%></td>
              <td class="account-td"><%= order.account %></td>
              <td class="count-td"><%= order.count %></td>
              <td class="two-col-th"><%= "#{order.price_current}/#{order.total_price}"  %></td>
              <td class="same-width"><%= "#{order.start_num}/#{order.aims_num}/#{order.current_num}"  %></td>
              <td class="order-time-td"><%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td class="remark-td"><%= order.remark %></td>
              <td class="one-col-td"><%= order.status_in_word %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm inline">
          <%= paginate @orders %>
        </ul>
      </div>
    </div>
</div>

<script>
$().ready(function() {
  //订单验证
  $("#new_order").validate({
    errorPlacement: function(error, element){
      $(element).parent('div').addClass('has-error');
      $(element).parent('div').append(error);
    },
		errorElement: 'label',
    errorClass: 'error',
    rules: {
      'order[goods_id]': "required",
      'order[price_current]': {
        required: true,
        number:true
      },
      'order[count]': {
        required: true,
        digits: true,
        min: 1
      },
      'order[account]': "required"
    },
    messages: {
      'order[goods_id]': "请选择业务",
      'order[price_current]': {
        required: '单价必须填写',
        number: '单价必须是数字'
      },
      'order[count]':{
        required: '数量不能为空',
        digits: '必须输入整数',
        min: '下单数量不能小于1'
      },
      'order[account]': "目标账户必须填写"
    }
  });
});
</script>
