<%= render 'layouts/errors'%>
<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">我的订单</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th style="width: 75px">订单编号</th>
            <th>业务</th>
            <th>数量</th>
            <th>购买时单价</th>
            <th>总金额</th>
            <th>备注信息</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.identification_code %></td>
              <td><%= order.goods.name %></td>
              <td><%= order.count %></td>
              <td><%= order.price_current %></td>
              <td><%= order.total_price %></td>
              <td><%= order.remark %></td>
              <td><%= order.status_in_word %></td>
              <td>
                <% if order.is_not_pay? %>
                  <%= link_to '去支付', '#' %>
                  <%= link_to '取消订单', cancel_order_path(order.id),method: 'post', data: {confirm: '确认取消该比订单？'} %>
                  <%= link_to '修改订单', edit_order_path(order.id)%>
                <% end %>

                <% if order.is_canceled? %>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                    重新下单
                  </button>
                <% end %>
                <% if order.is_paied? %>
                  <%= link_to '修改订单', edit_order_path(order.id)%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-left">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
            添加新订单
          </button>
        </ul>
        <ul class="pagination pagination-sm no-margin pull-right digg_pagination">
          <%= paginate @orders %>
        </ul>
      </div>
    </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">新订单</h4>
      </div>
      <%= form_for Order.new, html: {:class => 'form-horizontal'} do |f| %>

      <div class="modal-body">
          <div class="box-body">

            <div class="form-group">
              <%= f.label :goods_id, '业务', class: 'col-sm-2 control-label '%>

              <div class="col-sm-10">
                <%= f.select :goods_id, Goods.all.collect { |g| [ g.name, g.id ] }, {}, class: 'form-control goods-id' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :price_current, '单价', class: 'col-sm-2 control-label'%>

              <div class="col-sm-10">
                <%= f.text_field :price_current, class: 'form-control', readonly: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :count, '购买数量', class: 'col-sm-2 control-label'%>

              <div class="col-sm-10">
                <%= f.text_field :count, value: nil, class: "form-control", placeholder: '填写购买数量'%>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :remark, '备注', class: 'col-sm-2 control-label'%>

              <div class="col-sm-10">
                <%= f.text_area :remark, class: 'form-control', rows: 5, placeholder: '你需要通知商家的信息请在这里填写' %>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
        <%= f.submit '提交订单', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .digg_pagination .pagination{
      margin: 0px !important;
      padding: 0px !important;
  }
  .error{
    color: #a94442;
    font-size: 12px;
  }
</style>

<script>

// <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with
//   error</label>,

$().ready(function() {

  // 根据商品和用户level返回对应的价格
  function get_price(goods_id){
    $.ajax({
      url: '/goods/' + goods_id + '/get_price',
      method: 'get',
      type: 'json',
      success: function(data){
        price = data['price'];
        $('#order_price_current').val(price);
      },
      error: function(){
        console.log('get prices error');
      }
    });
  }

  // 进入页面时根据初始化的商品显示显示初始化的价格
  goods_id = $('.goods-id').val();
  get_price(goods_id);

  //用户选项变更后变更对应的价格
  $('select#order_goods_id').change(function(){
    console.log($(this).val());
    goods_id = $(this).val();
    get_price(goods_id);
  });

  //订单验证
  $("#new_order").validate({
    errorPlacement: function(error, element){
      console.log(element);
      $(element).parent('div').addClass('has-error');
      $(element).parent('div').append(error);
    },
		errorElement: 'label',
    errorClass: 'error',
    rules: {
      'order[goods_id]': "required",
      'order[price_current]': {
        required: true,
        number:true
      },
      'order[count]': {
        required: true,
        digits: true,
        min: 1
      },
      'order[account]': "required"
    },
    messages: {
      'order[goods_id]': "请选择业务",
      'order[price_current]': {
        required: '单价必须填写',
        number: '单价必须是数字'
      },
      'order[count]':{
        required: '数量不能为空',
        digits: '必须输入整数',
        min: '下单数量不能小于1'
      },
      'order[account]': "目标账户必须填写"
    }
  });
});
</script>
