<div class="col-md-12">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-left">
      <li class="active"><a href="#revenue-chart" data-toggle="tab">单个订单</a></li>
      <li><a href="#sales-chart" data-toggle="tab">批量订单</a></li>
    </ul>
    <div class="tab-content no-padding">
      <div class="chart tab-pane active" id="revenue-chart" style="position: relative;">
          <%= form_for Order.new, html: {:class => 'form-horizontal'} do |f| %>
            <div class="box-body">
              <div class="form-group">
                <label class="col-sm-1 control-label">业务说明</label>
                <div class="col-sm-4 red-color goods-remark">
                  <%= @goods.remark %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :goods_name, '业务', class: 'col-sm-1 control-label '%>

                <div class="col-sm-4">
                  <%= text_field_tag :goods_name, @goods.name, readonly: true, class: 'form-control goods-id' %>
                  <%= f.hidden_field :goods_id, value: @goods.id %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :price_current, '单价', class: 'col-sm-1 control-label'%>

                <div class="col-sm-4">
                  <%= f.text_field :price_current, value: current_user.my_price(@goods.id), class: 'form-control goods-price', readonly: true %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :count, '购买数量', class: 'col-sm-1 control-label' %>

                <div class="col-sm-4">
                  <%= f.text_field :count, value: nil, class: "form-control order-goods-num", placeholder: '填写购买数量'%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :total_price, '总金额', class: 'col-sm-1 control-label'%>

                <div class="col-sm-4">
                  <div class="external-event bg-light-blue ui-draggable ui-draggable-handle order-total-price" style="position: relative;">总金额</div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :account, '下单账号', class: 'col-sm-1 control-label'%>

                <div class="col-sm-4">
                  <%= f.text_field :account, value: nil, class: "form-control", placeholder: '填写下单账号'%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :remark, '备注', class: 'col-sm-1 control-label'%>

                <div class="col-sm-4">
                  <%= f.text_area :remark, class: 'form-control', rows: 5, placeholder: '你需要通知商家的信息请在这里填写' %>
                </div>
              </div>
            </div>
            <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-left">
                <%= link_to '取消', new_order_path(goods_id: @goods.id), class: 'btn btn-default' %>
                <%= f.submit '提交订单', data: {confirm: '提交订单，将直接从账户余额中扣除对应金额，请保证余额充足'},class: 'btn btn-primary' %>
              </ul>
            </div>
          <% end %>
        </div>
      <div class="chart tab-pane" id="sales-chart" style="position: relative;">
        <%= form_for Order.new, html: {:class => 'form-horizontal'} do |f| %>
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-1 control-label">业务说明</label>
              <div class="col-sm-4 red-color goods-remark">
                <%= @goods.remark %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :goods_name, '业务', class: 'col-sm-1 control-label '%>

              <div class="col-sm-4">
                <%= text_field_tag :goods_name, @goods.name, readonly: true, class: 'form-control goods-id' %>
                <%= f.hidden_field :goods_id, value: @goods.id %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :price_current, '单价', class: 'col-sm-1 control-label'%>

              <div class="col-sm-4">
                <%= f.text_field :price_current, value: current_user.my_price(@goods.id), class: 'form-control goods-price', readonly: true %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag :multiple_order, '下单信息', class: 'col-sm-1 control-label'%>

              <div class="col-sm-4">
                <%= text_area_tag :multiple_order, nil, class: 'form-control', rows: 5, placeholder: "批量下单格式：下单账号----需求数量：例如：\n1234567890----1000\n0987654321----2000"  %>
              </div>
            </div>
          </div>
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-left">
              <%= link_to '取消', new_order_path(goods_id: @goods.id), class: 'btn btn-default' %>
              <%= f.submit '批量订单', data: {confirm: '提交该批量订单，将直接从账户余额中扣除对应金额，请保证余额充足'},class: 'btn btn-primary' %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">当前业务历史订单</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th class="order-id-th">订单号</th>
            <th class="same-width">下单账号</th>
            <th class="same-width">数量</th>
            <th class="same-width">单价</th>
            <th class="same-width">总价</th>
            <th class="same-width">初始/目标/当前</th>
            <th class="same-width">下单时间</th>
            <th class="same-width">备注</th>
            <th class="same-width">状态</th>
          </tr>
          <% @orders.each do |order| %>
            <tr>
              <td class="order-id-td"><%= order.identification_code %></td>
              <td class="same-width"><%= order.account %></td>
              <td class="same-width"><%= order.count %></td>
              <td class="same-width"><%= order.price_current %></td>
              <td class="same-width"><%= order.total_price %></td>
              <td class="same-width"><%= "#{order.start_num}/#{order.aims_num}/#{order.current_num}" %></td>
              <td class="same-width"><%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              <td class="same-width"><%= order.remark %></td>
              <td class="same-width"><%= order.status_in_word %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm inline">
          <%= paginate @orders %>
        </ul>
      </div>
    </div>
</div>

<script>
  $(document).ready(function() {

  price = $('.goods-price').val();
  $('.order-goods-num').bind('input propertychange', function(){
      num = $(this).val();
      total_price = parseFloat(price) * parseInt(num);
      if(isNaN(total_price)){
        $('.order-total-price').html('总金额');
      }else {
        $('.order-total-price').html(total_price);
      }
  });
  //订单验证
  $("#new_order").validate({
    errorPlacement: function(error, element){
      $(element).parent('div').addClass('has-error');
      $(element).parent('div').append(error);
    },
		errorElement: 'label',
    errorClass: 'error',
    rules: {
      'order[goods_id]': "required",
      'order[price_current]': {
        required: true,
        number:true
      },
      'order[count]': {
        required: true,
        digits: true,
        min: 1
      },
      'order[account]': "required"
    },
    messages: {
      'order[goods_id]': "请选择业务",
      'order[price_current]': {
        required: '单价必须填写',
        number: '单价必须是数字'
      },
      'order[count]':{
        required: '数量不能为空',
        digits: '必须输入整数',
        min: '下单数量不能小于1'
      },
      'order[account]': "目标账户必须填写"
    }
  });
});
</script>
