<%= form_for @goods, html: {:class => 'form-horizontal'} do |f| %>

<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">修改业务</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <%= f.label :goods_type_id, '分类', class: 'col-sm-1 control-label '%>
          <div class="col-sm-5">
          <%= f.select :goods_type_id, options_from_collection_for_select(GoodsType.all, 'id', 'name', params['goods_type_id']), { placeholder: '选择分类' }, { class: 'form-control select-goods-type' } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :name, '业务', class: 'col-sm-1 control-label'%>

          <div class="col-sm-5">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :price, '价格', class: 'col-sm-1 control-label'%>

          <div class="col-sm-5">
            <%= f.text_field :price, class: 'form-control', placeholder: '四个单价，以空格隔开，如：33 23 13 3' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :remark, '说明', class: 'col-sm-1 control-label'%>

          <div class="col-sm-5">
            <%= f.text_area :remark, class: 'form-control', placeholder: '四个单价，以空格隔开，如：33 23 13 3' %>
          </div>
        </div>
      </div>
      <div class="box-footer clearfix">
        <%= link_to  '放弃修改', goods_admins_path, class: 'btn btn-default'%>
        <%= f.submit '提交修改', class: 'btn btn-primary' %>
      </div>
    </div>
</div>
<% end %>
