<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">业务信息</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>ID</th>
            <th style="width: 75px">名称</th>
            <th>LV1价格</th>
            <th>LV2价格</th>
            <th>LV3价格</th>
            <th>LV4价格</th>
            <th>我的特价</th>
          </tr>
          <tr>
            <td><%= @goods.id %></td>
            <td><%= @goods.name %></td>
            <td><span class="<%= price_light?(@goods.get_current_price(1), @goods.id) %>"><%= @goods.get_current_price(1) %></span></td>
            <td><span class="<%= price_light?(@goods.get_current_price(2), @goods.id) %>"><%= @goods.get_current_price(2) %></span></td>
            <td><span class="<%= price_light?(@goods.get_current_price(3), @goods.id) %>"><%= @goods.get_current_price(3) %></span></td>
            <td><span class="<%= price_light?(@goods.get_current_price(4), @goods.id) %>"><%= @goods.get_current_price(4) %></span></td>
            <td><span class="bg-green"><%= current_user.current_goods_special_prices(@goods.id)%></span></td>
          </tr>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-left">
          <%= link_to '下单', new_order_path(goods_id: @goods.id), class: 'btn btn-primary' %>
        </ul>
      </div>
    </div>
</div>

<style>
  .digg_pagination .pagination{
      margin: 0px !important;
      padding: 0px !important;
  }
  .error{
    color: #a94442;
    font-size: 12px;
  }
</style>
