<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">下级：<%= @user.name %> 特价</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>商品</th>
            <th>系统价格</th>
            <th>特价</th>
            <th>操作</th>
          </tr>
          <% @goods.each do |goods| %>
            <tr>
              <% current_goods_h_set_price_obj = @user.current_goods_h_set_price_obj(goods.id) %>
              <% system_price = goods.get_current_price(@user.level_id) %>
              <% special_price = current_goods_h_set_price_obj.try(:price) %>
              <td><%= goods.name rescue '' %></td>
              <td class="system-price"><%= price_to_humam(system_price) %></td>
              <td class="special-price">
                <%= text_field_tag 'special_prices', special_price, placeholder: '不能低于系统价格', class: 'form-control only-bottom-border' %>
                <span class="no-used-price-notice"><%= get_on_used_notice(system_price, special_price) %></span>
              </td>
              <td>
                <a class="btn btn-default save-special-price" goods-id="<%= goods.id %>">保存</a>
                <% if current_goods_h_set_price_obj.present? %>
                  <%= link_to '清除', h_set_price_path(current_goods_h_set_price_obj.id), data: { confirm: '确认清除？'}, method: 'DELETE' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm inline">
          <%= paginate @goods %>
        </ul>
      </div>
    </div>
</div>
<div id='edit-h-set-price'>
</div>

<style>
  .only-bottom-border{
    border-top: none;
    border-right: none;
    border-left: none;
    display: inline-block;
    width: 30%;
  }
  .no-used-price-notice{
    color: red;
  }
</style>
<script type="text/javascript">
    $(".select-goods").select2({
      placeholder: "选择业务",
      allowClear: true
    });
    $('.save-special-price').on('click', function(){
      var current_tr = $(this).parents('tr');
      var system_price = current_tr.find('.system-price').text();
      var special_price = current_tr.find('#special_prices').val();
      special_price = Number(special_price);
      system_price = Number(system_price);
      if (isNaN(special_price)) {
        alert('填写有误！');
        location.reload(true);
        return
      }else if (special_price < system_price) {
        alert('不能低于系统价格！');
        location.reload(true);
        return
      }else if (special_price > system_price*3){
        location.reload(true);
        alert('不能高于系统价格三倍！');
        return
      }

      goods_id = $(this).attr('goods-id');
      user_id = "<%= @user.id %>";
      $.ajax({
        url: "<%= create_or_update_h_set_prices_path %>",
        method: 'post',
        data: {
          goods_id: goods_id,
          user_id: user_id,
          special_price: special_price
        },
        success: function(data){
          result = data['result'];
          console.log(data);
          if (result == 'success') {
            alert('保存成功');
          } else {
            location.reload(true);
            alert('保存失败');
          }
        },
        error: function(){
          alert('保存失败，请重新提交');
        }
      })
    });
</script>
