<%  if @notices.present? %>
  <div class="col-md-12">
    <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">系统公告！</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body notice-all">
      <ul class="notice-item">
        <% @notices.each do |notice| %>
          <li class="notice-title">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <%= notice.title %>
            <span class="notice_time text-right">
              —— <%= notice.updated_at.strftime('%Y-%m-%d %H:%M:%S') %>
            </span>
          </li>
          <div class="notice-content dispaly-none">
            <%= sanitize notice.content.gsub(/\r\n/, '<br>') %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="show_notice"></div>
</div>
<% end %>

<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">个人信息</h3>
    </div>
    <div class="form-horizontal">
      <div class="box-body">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">用户昵称</label>
            <div class="col-sm-9padding-left-none">
              <span class="form-control border-none"> <%= current_user.name %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">用户邮箱</label>
            <div class="col-sm-9padding-left-none">
              <span class="form-control border-none"> <%= current_user.email %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">会员级别</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= current_user.level_id %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">个人邀请码</label>
            <div class="col-sm-9padding-left-none">
              <span class="form-control border-none"> <%= current_user.invitation_code_in_word %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">上级邀请码</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= current_user.h_invitation_code %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Api认证</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none md5-password-area dispaly-none">
                <input id="api-authen" value="<%= current_user.md5_password %>" class="clipboard_input" readonly>
                <button class="btn btn-default clipboard_button" data-clipboard-target="#api-authen">
                  复制
                </button>
                <span class="hide-md5-password">
                  <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </span>
              </span>
              <span class="form-control border-none show-md5-password">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">账户余额</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none">
                <%= current_user.balance %>&nbsp;&nbsp;&nbsp;
                <%= link_to '充值', recharge_records_path, class: 'btn btn-xs btn-primary' %>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">订单总数</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= @orders_count %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">提成</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= current_user.deduct_percentage %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">消费总额</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= @total_spend  || 0 %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">邀请下级</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none">
                <input id="foo" value="<%= invit_link %>" class="clipboard_input" readonly>
                <button class="btn btn-default clipboard_button" data-clipboard-target="#foo">
                  复制
                </button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">密码管理</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none" data-toggle="modal" data-target="#edit-password-default">
                <a class = 'btn btn-xs btn-primary'>修改密码</a>
              </span>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-password-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改密码</h4>
      </div>
      <%= form_tag reset_my_password_infos_path, method: 'post' , html: {:class => 'form-horizontal'} do %>
        <div class="modal-body">
            <div class="box-body">
              <div class="form-group">
                <div class="col-sm-10">
                  <%= password_field_tag :current_pasword, nil, class: 'form-control', placeholder: '当前密码' %>
                </div>
              </div><br>
              <div class="form-group">
                <div class="col-sm-10">
                  <%= password_field_tag :password, nil, class: 'form-control', placeholder: '新密码' %>
                </div>
              </div></br>
              <div class="form-group">
                <div class="col-sm-10">
                  <%= password_field_tag :password_confirmation, nil, class: 'form-control', placeholder: '密码确认' %>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
          <%= submit_tag '提交', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="alert-notice">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">系统消息</h4>
      </div>
        <div class="modal-body">
            <div class="box-body">
              <ul>
                <% @notices_alert.each do |notice| %>
                  <div class="col-sm-12 notice-item">
                    <li>
                      <%= notice.title %>
                      <span class="notice_time text-right">
                        —— <%= notice.updated_at.strftime('%Y-%m-%d %H:%M:%S') %>
                      </span>
                    </li>
                    <div class="notice-content">
                      <%= sanitize notice.content.gsub(/\r\n/, '<br>') %>
                    </div>
                  </div>
                <% end %>
              </ul>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
        </div>
    </div>
  </div>
</div>


<style>
  .notice_time{
    display: inline-block;
    margin-right: 0px;
    float: right;
  }

  .clipboard_input{
    width: 335px;
  }

  .clipboard_button{
    background-color: #FFF;
    padding: 1px 2px;
  }

  .clipboard_image{
    width: 20px !important;
  }

  .show-md5-password,
  .hide-md5-password{
    cursor: pointer;
  }

  .dispaly-none{
    display: none;
  }

  .notice-content{
    padding-left: 13px;
  }

  ul{
    padding-left: 0px;
  }
  ul li.notice-title{
    list-style-type: none;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
  }

  .notice-all{
    padding-left: 30px;
  }
</style>

<script>
  $('.notice-title').on('click', function(){
    var notice_content = $(this).next('.notice-content');
    var icon = $(this).find('i')
    if(notice_content.hasClass('dispaly-none')){
      icon.removeClass('fa-angle-right');
      icon.addClass('fa-angle-down');
      notice_content.removeClass('dispaly-none');
    }else{
      icon.addClass('fa-angle-right');
      icon.removeClass('fa-angle-down');
      notice_content.addClass('dispaly-none');
    }
  });

  if ("<%= @has_alert %>" === 'true') {
    $('#alert-notice').modal('show');
  }

  new Clipboard('.btn');
  $('.show-md5-password').on('click', function(){
    $(this).addClass('dispaly-none');
    $('.md5-password-area').removeClass('dispaly-none');
  });

  $('.hide-md5-password').on('click', function(){
    $('.md5-password-area').addClass('dispaly-none');
    $('.show-md5-password').removeClass('dispaly-none');
  });

</script>
