<%  if @notices.present? %>
  <div class="col-md-12">
    <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">系统公告！</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <ul>
        <%  @notices.each do |notice| %>
          <li>
            <%= link_to notice.title, notice_path(notice.id), class: 'notice', remote: true %>
            <span class="text-right">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—— <%= notice.updated_at.strftime('%Y-%m-%d %H:%M:%S') %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="show_notice"></div>
</div>
<% end %>

<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">个人信息</h3>
    </div>
    <div class="form-horizontal">
      <div class="box-body">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">用户昵称</label>
            <div class="col-sm-9padding-left-none">
              <span class="form-control border-none"> <%= current_user.name %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">用户邮箱</label>
            <div class="col-sm-9padding-left-none">
              <span class="form-control border-none"> <%= current_user.email %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">会员级别</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= current_user.level_id %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">个人邀请码</label>
            <div class="col-sm-9padding-left-none">
              <span class="form-control border-none"> <%= current_user.invitation_code_in_word %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">上级邀请码</label>
            <div class="col-sm-9padding-left-none">
              <span class="form-control border-none"> <%= current_user.h_invitation_code %> </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">账户余额</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none">
                <%= current_user.balance %> (单位：元)&nbsp;&nbsp;&nbsp;
                <a class="btn btn-xs btn-primary">充值</a>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">订单总数</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= @orders_count %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">提成</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= current_user.deduct_percentage %> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">消费总额</label>
            <div class="col-sm-9 padding-left-none">
              <span class="form-control border-none"> <%= @total_spend  || 0 %> </span>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
