<!DOCTYPE html>
<html>
  <head>
    <title>GetCard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <%= link_to root_path, class: 'logo' do %>
          <span class="logo-mini"><b>MMS</b></span>
          <span class="logo-lg">会员管理平台</span>
        <% end %>

        <nav class="navbar navbar-static-top">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>

          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs"><%= current_user.name if current_user.present? %></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-footer">
                    <div class="pull-right">
                      <a href="/sign_out" class="btn btn-default btn-flat">退出</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-in-header">
            余额：<%= current_user.balance %>，
          </div>
        </nav>
      </header>

      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              <%= image_tag 'user2-160x160.jpg', class: 'img-circle', alt: 'User Image' %>
            </div>
            <div class="pull-left info">
              <p><%= current_user.name  if current_user.present? %></p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">主菜单</li>
            <li class="treeview <%= user_info_active %>">
              <a href="#">
                <i class="fa fa fa-th"></i>
                <span>个人中心</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="<%= current_controller_action('infos', 'index') %>">
                  <%= link_to infos_path do %>
                   <i class="fa fa-circle-o"></i>
                   基本信息
                  <% end %>
                </li>
                <li class="<%= current_controller_action('recharge_records', 'new') %>">
                  <%= link_to new_recharge_record_path do %>
                   <i class="fa fa-circle-o"></i>
                   充值中心
                  <% end %>
                </li>
                <li class="<%= current_controller_action('recharge_records', 'index') %>">
                  <%= link_to recharge_records_path do %>
                   <i class="fa fa-circle-o"></i>
                   充值记录
                  <% end %>
                </li>
                <li class="<%= current_controller_action('infos', 'l_infos') %> <%= current_controller_action('h_set_prices', 'index')%>">
                  <%= link_to l_infos_infos_path do %>
                   <i class="fa fa-circle-o"></i>
                   下级及提成
                  <% end %>
                </li>
              </ul>
            </li>

            <li class="treeview <%= order_controller_action('index') %> <%= order_controller_action('purchase_history') %>">
              <a href="#">
                <i class="fa fa fa-th"></i>
                <span>订单记录</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="<%= order_controller_action('index')  %>">
                  <%= link_to orders_path do %>
                   <i class="fa fa-circle-o"></i>
                   订单中心
                  <% end %>
                </li>
                <li class="<%= order_controller_action('purchase_history')  %>">
                  <%= link_to purchase_history_orders_path do %>
                   <i class="fa fa-circle-o"></i>
                   消费记录
                  <% end %>
                </li>
              </ul>
            </li>

            <li class="treeview <%= order_controller_action('new') %>">
              <a href="#">
                <i class="fa fa-list"></i>
                <span>业务购买</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <% GoodsType.all.each do |type| %>
                  <li class="treeview <%= current_goods_type(type.id) %>">
                    <a href="#"><i class="fa fa-folder"></i><%= type.name %>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <% goods = Goods.where(goods_type_id: type.id) %>
                      <% goods.each do |goods| %>
                        <li class="show-cache <%= order_controller_action_goods(goods.id) %>">
                          <%= link_to new_order_path(goods_id: goods.id) do %>
                           <i class="fa fa-circle-o"></i>
                           <%= goods.name %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </li>

            <% if current_user.admin %>
              <li class="<%= current_menu('admins') %>" >
                <%=link_to orders_admins_path(status: 'Waiting') do %>
                  <i class="fa fa-cog"></i><span>管理员入口</span>
                <% end %>
              </li>
            <% end %>
            <li>
              <a>
                <i ><span></span></i>
              </a>
            </li>
          </ul>
        </section>
      </aside>

      <div class="content-wrapper">
        <section class="content-header">
          <h1>
            <%= content_header %>
            <small>Control</small>
          </h1>
          <ol class="breadcrumb">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-dashboard"></i>
                Home
              <% end %>
            </li>
            <li class="active"><%= content_header %></li>
          </ol>
        </section>

        <section>
          <div class="col-sm-12 cache_button">
            <%= render 'layouts/cache_operator_button'%>
          </div>
        </section>

        <section class="content">
          <div class="row">
          <%= render 'layouts/errors'%>
          <%= yield %>
          </div>
        </section>

      </div>

    </div>
  </body>
</html>

<script>
  $('.show-cache').on('click', function(){
    var a_tag = $(this).find('a')
    var link = $.trim(a_tag.attr('href'));
    var text = $.trim(a_tag.text());
    var key = link
    var html =  '<button class="btn  btn-default btn-flat cache-button">' +
                  `<a class="cache-link" href="${link}">` +
                    `${text}&nbsp;&nbsp;&nbsp;` +
                  '</a>' +
                  `<i class="fa fa-times close-cache-button" key="${key}" aria-hidden="true"></i>` +
                '</button>'
    sessionStorage.setItem(key, html);
    sessionStorage.setItem('active_link', link);
  });

  $('a.cache-link').on('click', function(){
    sessionStorage.setItem('active_link', $(this).attr('href'))
  });

  all_cache_buttons = $('#cache-button-list').find('button.cache-button');

  all_cache_buttons.removeClass('btn-success');
  all_cache_buttons.addClass('btn-default');

  active_link = sessionStorage.getItem('active_link');
  current_button = $(`.cache-button a[href="${active_link}"]`).parent('button.cache-button');
  current_button.removeClass('btn-default');
  current_button.addClass('btn-success');
</script>
