<div class="register-box">
  <div class="register-box-body">
    <p class="login-box-msg">注册</p>
    <div>
      <% if flash[:alert] %>
        <div class="alert alert-warning alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p class="flash-error"><%= flash[:alert] %></p>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p class="flash-notice"><%= flash[:notice] %></p>
        </div>
      <% end %>
   </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group has-feedback">
        <%= f.text_field :name, class: 'form-control', placeholder: '昵称'%>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.email_field :email, class: 'form-control', placeholder: '邮箱'%>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <% system_setting = SystemSetting.first %>
        <% if @invitation_code.present? %>
          <%= f.text_field :h_invitation_code, value: @invitation_code, class: 'form-control' %>
        <% else%>
          <% if system_setting.need_invitation_code %>
            <%= f.text_field :h_invitation_code, class: 'form-control', placeholder: '邀请码（必填）'%>
          <% else %>
            <%= f.text_field :h_invitation_code, class: 'form-control', placeholder: '邀请码（选填）'%>
          <% end %>
        <% end %>
        <span class="glyphicon glyphicon-euro form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, class: 'form-control', placeholder: '密码', autocomplete: 'off'%>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '再次输入密码', autocomplete: "off" %>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="form-group">
        <%= rucaptcha_input_tag(class: 'form-control', placeholder: '请输入验证码') %>
        <a src="#">
          <%= rucaptcha_image_tag(alt: 'Captcha') %>
        </a>
      </div>
      <%= f.hidden_field :level_id, value: 1%>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <%= render "users/shared/links" %>
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">注册</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {

  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%'
    });
  });

  //订单验证
  $("#new_user").validate({
    errorPlacement: function(error, element){
      $(element).parent('div').addClass('has-error');
      $(element).parent('div').append(error);
    },
		errorElement: 'label',
    errorClass: 'error',
    rules: {
      'user[name]': "required",
      'user[email]': 'required',
      'user[password]': 'required',
      'user[password_confirmation]': 'required',
      '_rucaptcha': {
        required: true,
        length: 5
      }
    },
    messages: {
      'user[name]': "请填写用户名",
      'user[email]': '请填写邮箱',
      'user[password]': '请输入密码',
      'user[password_confirmation]': '请输入确认密码',
      '_rucaptcha': {
        required: '必须输入验证码',
        length: '验证码长度为5'
      }
    }
  });
});
</script>

<style>
  #error_explanation ul{
    padding-left: 15px;
  }

  ul li{
    list-style-type: none;
  }
</style>
